.nav-container .toggle-botton{
    display: none;
}
input{
    display: none;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
*{
    font-size: 14px;
}
header .text{
    margin: 60px 0px 0px 0px;
    padding-top: 10px;
    text-align: center;
}
header .text h5{
    font-size: 2em;
    width: 100%;
}
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    header .nav-container{
        display: none;
    }
    header .navbar-desktop{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }  
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .navbar-desktop, .nav-container{
        display: flex !important;
    }  
    .navbar-mobile{
        display: none !important;
    }  
    header{
        height: auto    ;
    }
 }
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 